/* Importar las custom propertis */
@import url(root.css);

/* Estilos de la card */
.card{
  width: 40%;
  color: var(--meWhite);
  background: var(--primary);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}

/* Estilos para el cuerpo de la card */
.card__body{
  width: 100%;
  max-width: 300px;
}

/* Estilos del titulo de la card */
.card__title > h1{
  font-size: 1.6em;
}

/* Estilos del formulario */
.card__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilos de los div que estan dentro del formulario */
.card__campo{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start; 
  gap: 3px;
}

/* Modificador de la metodologia BEM */
.card__campo--row{
  flex-direction: row;
  font-size: 12px;
  justify-content: center;
  gap: 30px;
}

/* Estilos para los inputs */
.card__input{
  padding: 5px 15px;
  width: 100%;
  background: var;
  border-radius: 20px;
  transition: .05s all ease;
}
.card__input:focus{
  outline: 3px groove var(--cuarty);
}
.card__input--check{
  width: 1rem;
  height: 1rem;
}

/* Estilos del boton */
.card__btn{
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  transition: all .2s ease;
  color: var(--meBlack);
  font-weight: bold;
}
.card__btn:hover{
  background: var(--terciary);
}

.is__invalid{
  border: 3px solid red;
}
.is__valid{
  border: 3px solid green;
}