<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de usuarios</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <main class="container">
        <section class="cards">
            <article class="card__table">
                <div>
                    <h1>
                        Tabla de usuarios registrados
                    </h1>
                </div>
                <div>
                    <table>
                        <thead class="table__head">
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Tipo de documento</th>
                            <th>Numero de documento</th>
                            <th>Correo electronico</th>
                            <th>Genero</th>
                            <th>Numero telefonico</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Jhon</td>
                                <td>Carreño</td>
                                <td>C.C</td>
                                <td>1099737501</td>
                                <td>jhonfredy2325@gmail.com</td>
                                <td>Masculino</td>
                                <td>3186040819</td>
                                <td>
                                    <button data-id="1">
                                        <a href="editar.html">Editar</a>
                                    </button>
                                    <button data-id="1">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
    </main>
</body>
</html>