<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de usuarios</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <main class="cont__tabla">
    <section class="tabla__cards">
      <article class="tabla__card">
        <div class="tabla__title">
          <h1>
            Tabla de usuarios registrados
          </h1>
        </div>
        <div class="tabla__body">
          <table class="table">
            <thead class="table__head">
              <th>Id</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Tipo de documento</th>
              <th>Numero de documento</th>
              <th>Correo electronico</th>
              <th>Genero</th>
              <th>Numero telefonico</th>
              <th>Acciones</th>
            </thead>
            <tbody id="tablaBody">
            </tbody>
          </table>
        </div>
      </article>
    </section>
  </main>
  <script src="../scripts/tabla.js" type="module"></script>
</body>

</html>